#DATABASE_URL="mysql://sergio:sergioh543@localhost:3306/boutique-univalle"

#Host donde recide la base de datos
DB_HOST = "127.0.0.1"

#Puerto de la direccion de la base de datos
DB_PORT = 3306

#usuario
DB_USER = ""

#Constraseña de la constraseña
DB_PASS = ""

#Base de datos inicial
DB_DATABASE = ""

#Tipo host del mailer
MAILER_HOST = "smtp.gmail.com"

#Puerto del mailer ejemplares ssh(587, 25), ttl(447)
MAILER_PORT = 587

#seguro del mailer ssh = true , ttl = false
MAILER_SECURE = false

#correo por donde se enviara
MAILER_ADDRESS_FROM = "pruebasproyectos1234@gmail.com"

# contraseña proporcionada por el mailer
MAILER_PASSWORD = ""

#Salt para la encriptacion
SALT = 10

#Crear token desde nodejs require('crypto').randomBytes(64).toString('hex')
TOKEN = ""

#Constraseña inicial del usuario
USER_PASSWORD_INIT = "secretPassword"